@import "tailwindcss";


body {font-family: 'Inter', sans-serif; }

/* Hide the scrollbar while keeping horizontal overflow enabled */
.hide-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
.hide-scrollbar::-webkit-scrollbar { display: none; }
